$navbarHeight = 3.8rem

.navbar
    background-image: url('/Page_Background.png') !important

    .site-name
        color: #fff

    .links
        background-color: transparent;

.nav-links
    a
        color: #fff

